html{
  scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
}
body{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white; 
}
main {
  display: flex;
  flex-direction: column;
}

.menu{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav{
  position: relative;
}
.cool-link {
  display: inline-block;
  color: white;  
    padding: 10px 16px;
  text-decoration: none;
}
.cool-link::after {
  content: '';
  display: block;
  margin-top: 4px;
  width: 0;
  height: 1px;
  background: #f27777;
  transition: width .3s;
}
.cool-link:hover{
  color: #01b6db;
  text-shadow: #01b6db 0 0 10px;
}
.cool-link:hover::after {
  width: 100%;
  box-shadow: #f27777 0 0 3px ; 
}

.OpenPage{
  position: relative;
  background-image: url('./images/bg_first-display.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.vignette{
  position: absolute;
  background-color: rgba(41, 41, 41, 0.336);
  width: 100%;
  height: 100vh;
}
.header_text{ 
  position: relative;
  z-index: 1;
}
.header_text h4{
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 10px;
}
.header_text h1{
  font-size: 6.5em;
  letter-spacing: 4px;
  font-weight: bold;
}
@media screen and (max-width: 700px){

.header_text h4{
  font-size: 1.5em;
  letter-spacing: 5px;
}
.header_text h1{
  font-size: 3.5em;
}
}
.topnav .icon {
    display: none;
}
#nav-icon3 {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background: #ffffff;
  left: 0;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 6px;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 16px;
}
#nav-icon3 span:nth-child(4) {
  top: 26px;
}
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%; 
}
#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 20%;
}

  /*Adaptive menu Closed*/
@media screen and (max-width:1320px){
  .logo{  
    position: relative;
    left: 2%;
    height: auto;
}
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: inline-block;
    position: relative;
    left: 95%;
  }
  nav {
    width: 100%;
  }
}
/*Adaptive menu Opened*/
@media screen and (max-width:1320px){
  .topnav.responsive {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
  }
   .topnav.responsive {
    height: 100vh;
    width: 100vw;
    top:-50px;
    left: -140px;
  }
  .responsive a.icon {
    position: absolute;
    top: 30px;
    left: 95.6%;
  }
  .menu .responsive{
    font-size: 1.5em;
    font-weight: 500;
  }
  .responsive a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(204, 204, 204);
  }
  .cool-link:hover::after {
    width: 20%;
    box-shadow: #f27777 0 0 3px ; 
  }
}
@media screen and (max-width:1000px){
  .topnav a.icon {
    left: 90%;
  } 
  .responsive a.icon{
    left: 91.25%;
  }
}
@media screen and (max-width:795px){
  .topnav a.icon {
    left: 90%;
  }
  .responsive a.icon{
    left: 92%;
  } 
}
@media screen and (max-width:600px){
  .topnav a.icon {
    left: 85%;
  } 
  .responsive a.icon{
    left: 88.2%;
  }
}
@media screen and (max-width:530px){
  .topnav a.icon{
    left: 85%;
  }
  .responsive a.icon{
    left: 88.5%;
  }
}
@media screen and (max-width:480px){
  .topnav a.icon{
    left: 75%;
  }
  .responsive a.icon{
    left: 83%;
  }
}
@media screen and (max-width:400px){
  .responsive a.icon{
    left: 84.1%;
  }
}
@media screen and (max-width:350px){
  .logo{
    padding-right: 10px;
    height: auto;
  }
  .responsive a.icon{
    left: 86%;
  }
  .topnav.responsive {
    left: -150px;
  }
}
@media screen and (max-width:300px){
  .logo{
    padding-right: 5px;
  }
  .topnav a.icon{
    left: 65%;
  }
  .responsive a.icon {
    left: 80%;
  }
 .responsive a {
  width: auto;
 }
 .topnav.responsive {
  left: -145px;
}
}

/*Second Block*/
.Favours{
  background-image: url('./images/bg_fаvours-display.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  text-align: center;
  
}
#fav_title{
  font-size: 2.7em;
  font-weight: bold;
  color: #2e2e2e;
  padding: 27px 0 18px 0;
}
#fav_title_underline{
  margin: auto;
  height: 1px;
  background-color: #868686;
  width: 35%;
}
.description_second_block{
  color: #000000;
  font-family: 'Open sans', sans-serif;
  padding: 30px 0px 0 0px;
  font-weight: 600;
  font-size: 1em;
}
.wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;  
  padding: 40px 0 0 0;
}
.image-overflow {
  overflow: hidden;
}
.image{
  width: 190px;
  height: 190px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5) inset;
  transition: box-shadow linear 0.3s;
  transition: transform ease-in-out 0.3s;
}
.image:hover{
  box-shadow: none; 
  transform: scale(1.2);
}
.dandruff{
  width: 190px;
  height: 190px;
  padding: 53px 0 0 0;
  transition: opacity linear 0.3s;
}
.dandruff:hover{
  box-shadow: none;
  opacity: 0;
}
.image1{
  background-image: url('./images/sb_ph_1.jpg');
}
.image2{
  background-image: url('./images/sb_ph_2.jpg');
}
.image3{
  background-image: url('./images/sb_ph_3.jpg');
}
.image4{
  background-image: url('./images/sb_ph_4.jpg');
}
.ln_name{
  color:black;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
}
@media screen and (max-width:560px){
  #fav_title{
    font-size: 2.3em;
  }

}

/*Third and Fourth Block*/
.AboutUs{
  position: relative;
  background-image: url('./images/bg_aboutus-display.jpg');
  box-shadow: 0 0 400px rgb(0, 0, 0) inset;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vignette-aboutUs{
  position: absolute;
  background-color: rgba(29, 29, 29, 0.336);
  width: 100%;
  height: 100%; 
}
.between_line{
  height: 11px;
  background-color: rgba(255, 255, 255, 0.15);
}
#AboutUs-title{
  position: relative;
  font-size: 2.6em;
  padding-top: 10px;
  font-weight: 700;
  color: white;
  text-align: center;
}
#About-Title-Underline{
  position: relative;
  margin: auto;
  margin-top: 7px;
  height: 0.7px;
  background-color: rgba(255, 255, 255, 0.705);
  width: 35%;
}
.AboutUs-content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs_text{
  position: relative;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 60%;
}
#first_line {
  font-weight: 600;
  font-size: 1.875em;
  padding-top: 25px;
  letter-spacing: 1px;
}
#second_line {
  padding-top: 20px;
  font-weight: 500;
  font-size: 1.89em;
  line-height: 1.2;
}
#third_line {
  font-size: 1.875em;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 15px;
}
.pattern_left-aboutus{
  position: absolute;
  z-index: 1;
  top: -75px;
  left: 0;
}
.pattern_right-aboutus{
  position: absolute;
  top: 0;
  z-index: 1;
  top: -75px;
  right: 0;
}
#Right-Pattern-aboutus{
  height: auto;
}
#Left-Pattern-aboutus{
  height: auto;
}
@media screen and (max-width:1295px){
 #Left-Pattern-aboutus{
   display: none;
 }
 #Right-Pattern-aboutus{
   display: none;
 }
 .aboutUs_text{
  width: 90%;
}
.AboutUs{
  max-height: auto;
}
}
@media screen and (max-width:800px){ 
  .aboutUs_text{
    width: 80%;
    padding-top: 30px;
  }
  #AboutUs-title{
    font-size: 2.4em;
  }
  #first_line {
    font-size: 1.6em;
  }
  #second_line {
    font-size: 1.5em;
  }
  #third_line {
    padding-top: 10px;
    font-size: 1.6em;
    padding-bottom: 5px;
  }
}
@media screen and (max-width:700px){ 
  .aboutUs_text{
    padding-top: 15px;
  }
}

@media screen and (max-width:600px){ 
  .aboutUs_text{
    width: 80%;
  }
  #AboutUs-title{
    font-size: 2.2em;
  }
  #first_line {
    font-size: 1.3em;
  }
  #second_line {
    font-size: 1.3em;
    padding-top: 10px;
  }
  #third_line {
    font-size: 1.3em;
  }
}
@media screen and (max-width:400px){ 
  .aboutUs_text{
    width: 90%;
  }
  #AboutUs-title{
      font-size: 1.8em;
  }
  #first_line {
    font-size: 1.1em;
  }
  #second_line {
    font-size: 1.1em;
    padding-top: 20px;
  }
  #third_line {
    padding-top: 20px;
    font-size: 1.1em;
  }
}
@media screen and (max-width:350px){
  .aboutUs_text{
    padding-bottom: 5px;
  }
  #AboutUs-title{
    font-size: 1.5em;
}
#first_line {
  font-size: 1.1em;
}
#second_line {
  font-size: 1.05em;
  padding-top: 20px;
}
#third_line {
  padding-top: 20px;
  font-size: 1.1em;
}
}

.howCanYouHelp{
  position: relative;
  background-image: url("./images/bg_HowCanYouHelp-display.jpg");
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.932) inset;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.howCanYouHelp-content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 19px;
}
.HCYH-text{
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  color: white;
  font-size: 1.55em;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: center;  
}
#HCYH-title{
  text-align: center;
  font-size: 2.5em;
  font-weight: 700 !important;
  letter-spacing: 1px;
  padding: 0 20px 0 5px;
  color: white;
}
#HCYH-title-underline{
  margin: auto;
  margin-top: 5px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.705);
  width: 25%;
}
.pattern_left-HCYH{
 position: absolute;
 left: 0;
 top: -90px;
}
.pattern_right-HCYH{
  position: absolute;
  right: 0;
  top: -79px;
}
#HCYH-left-patimage{
  max-width: 100%;
  height: auto;
}
#HCYH-right-patimage{
  max-width: 100%;
  height: auto;
}
.adv-paragraph{
  position: relative;
}
#adv_title_first{
  position: relative;
  width: 45%;
  height: 10.5%;
  background-color: black;
  left: -10px;
}
#adv_title_second{
  width: 73%;
  height: 10.5%;
  background-color: black;
  position: relative;
  left: -10px;
}
#adv_title_third{
  width: 50%;
  height: 10.5%;
  background-color: black;
  position: relative;
  left: -20px;
}
#first_adv_title{
  position: relative;
  left: -20px;
}
#second_adv_title{
  position: relative;
  left: -20px;
}
#third_title_adv{
    position: relative;
    left: -15px;
}
.adv_list{
  position: relative;
  left: 5%;
}
.HCYH_ul_wrap{
  position: relative;
  left: 5%;
}
@media screen and (max-width:1295px){
  #HCYH-left-patimage{
    display: none;
  }
  #HCYH-right-patimage{
    display: none;
  }
  .HCYH-text{
    position: relative;
    top: 20px;
    font-size: 1.6em;
    flex-direction: column;
  } 
}
@media screen and (max-width:1295px){ 
  .adv_list{
    position: relative;
    left: 5%;
  }
  .HCYH_ul_wrap{
    position: relative;
    left: 10%;
  }
  .howCanYouHelp-content{
    position: relative;
    display: flex;
    justify-content:center;
  }
  .HCYH-text{
    position: relative;
    flex-direction: row;
    top: 20px;
    font-size: 1.5em;
  } 
}
@media screen and (max-width:1070px){ 
  #adv_title_second{
   margin-top: 20px;
  }
  .HCYH_ul_wrap{
    left: 5%;
  }
  .howCanYouHelp-content{
    position: relative;
    display: flex;
    justify-content:center;
    top: 30px;
  }
  .HCYH-text{
    font-size: 1.3em;
  } 
}
@media screen and (max-width:860px){ 
  #adv_title_second{
    margin-top: 20px;
   }
   .HCYH_ul_wrap{
     left: 5%;
   }
   .HCYH-text{
     font-size: 1.2em;
   } 
}
@media screen and (max-width:785px){ 
   .HCYH_ul_wrap{
     left: 5%;
   }
  .HCYH-text{
    position: relative;
    flex-direction: row;
    top: 40px;
    font-size: 1.1em;
  } 
}
@media screen and (max-width:730px){ 
   .HCYH_ul_wrap{
     left: 5%;
   }
  .HCYH-text{
    font-size: 1em;
    margin: auto;
    margin-top: 28px;
  } 
}
@media screen and (max-width:670px){ 
  .howCanYouHelp-content{
    top: -30px;
  }
  .adv-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .HCYH-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1em;
  } 
  .HCYH_ul_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0%;
  }
  #adv_title_first{
    width: 60%;
    height: 10.5%;
    left: 0px;
    background-color: white;
    color: black;
    font-weight: bolder;
  }
  #adv_title_second{
    margin-top: 10px;
    width: 80%;
    left: 0;
    background-color: white;
    color: black;
    font-weight: bolder;
  }
  #adv_title_third{
    text-align: center;
    margin-top: 10px;
    width: 40%;
    height: 10.5%;
    left: 0px;
    background-color: white;
    color: black;
    font-weight: bolder;
  }
  #first_adv_title{
    position: relative;
    left: 0px;
  }
  #second_adv_title{
    left: 0px;
  }
  #third_title_adv{
    left: 0;
  }
   .adv_list{
    position: relative;
    left: 0%;
  }
  .HCYH_ul_wrap li{
    list-style-type: none;
  }
}
@media screen and (max-width:450px){ 
  #HCYH-title{
    font-size: 2em;
  }
  .HCYH-text{
    margin-top: 20px;
    font-size: 0.95em;
  } 
}
@media screen and (max-width:355px){ 
  #HCYH-title{
    font-size: 1.5em;
  }
  .HCYH-text{
    font-size: 0.85em;
    margin-top: 15px;
  } 
}
@media screen and (max-width:300px){ 
  #HCYH-title{
    font-size: 1.2em;
  }
  .HCYH-text{
    font-size: 0.8em;
    margin-top: 5px;
  } 
}


/* Regform_block */
.Regform-block{
  position: relative;
  min-height: 500px;
  background-image: url('./images/bg_regform-block.jpg');
}
.Regform-content{
  position: relative;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
}
#title_regform-block{
  margin-top: 14px;
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
}
#underline_title-regform{
  height: 0.7px;
  width: 30%;
  background-color:rgba(255, 255, 255, 0.63);
  margin: auto;
  margin-top: 10px;
}
.Reg-Form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2em;
}
.regform-blocks{
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
}
.regblock{
  background-color: #ffffff;
  width: 200px;
  height: 36px;
}
.second_three-reg-inputs{
  margin-left: 150px;
}
.ri{
  margin-top: 45px;
}
#btn-regform{
  position: relative;
  top: 1.5em;
  width: 160px;
  height: 40px;
  border: none;
  text-decoration: none;
  background-color: #379c35;
  color: rgba(255, 255, 255, 0.678);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.51em;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
#btn-regform:hover{
    background-color: #40b13e;
    color: white;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24), 0 17px 20px 0 rgba(0,0,0,0.19);
}
.pattern_left-regform{
  position: absolute;
  z-index: 1;
  top: -79px;
}
.pattern_right-regform{
  position: absolute;
  z-index: 1;
  top: -79px;
  right: 0;
}

@media screen and (max-width:1295px){
  .pattern_left-regform{
   display: none;
  }
  .pattern_right-regform{
    display: none;
  }
}
@media screen and (max-width:625px){
  .regform-blocks{
    justify-content: space-around;
  }
  .ri{
    margin-top: 20px;
  }
  .second_three-reg-inputs{
    position: relative;
    margin-left: 150px;
    margin-top: 0px;
  }
  .regblock{
    width: 180px;
    height: 36px;
  }
  #btn-regform{
    position: relative;
    top: 2em;
    width: 120px;
    height: 40px;
    font-size: 1em;
  }
  #title_regform-block{
    margin-top: 14px;
    font-size: 2.3em;
  }
  .Reg-Form{
    top: 3.5em;
  }
}
@media screen and (max-width:535px){ 
  .regform-blocks{
    justify-content: space-around;
  }
  .ri{
    margin-top: 20px;
  }
  .second_three-reg-inputs{
    margin-left: 100px;
  }
  .regblock{
    width: 180px;
    height: 36px;
  }
  #btn-regform{
    position: relative;
    top: 2em;
    width: 120px;
    height: 40px;
    font-size: 1em;
  }
  #title_regform-block{
    margin-top: 14px;
    font-size: 2.3em;
  }
  .Reg-Form{
    top: 4em;
  }
}
@media screen and (max-width:490px){
  #title_regform-block{
    font-size: 2em;
  }
  .second_three-reg-inputs{
    margin-left: 50px;
  } 
}
@media screen and (max-width:450px){
  .second_three-reg-inputs{
    margin-left: 20px;
  } 
}
@media screen and (max-width:420px){
  .second_three-reg-inputs{
    margin-left: 0px;
  } 
  .regform-blocks{
    flex-direction: column;
  }
  .Reg-Form{
    top: 1em;
  }
  .regblock{
    width: 180px;
    height: 30px;
  }
  .ri{
    margin-top: 5px;
  }
  #title_regform-block{
    font-size: 1.3em;
  }
  #btn-regform{
    width: 160px;
    height: 30px;
    top: 1.5em;
  }
}
@media screen and (max-width:340px){
  .regblock{
    width: 160px;
    height: 30px;
  }
  .ri{
    margin-top: 5px;
  }
  #title_regform-block{
      
    font-size: 1.3em;
  }
  #btn-regform{
    top: 1em;
  }
  .regform-blocks{
    font-size: 0.9em;
  } 
}

/*Footer*/
  footer {
    position: relative;
    min-height: 305px;
    background-image: url("./images/bg_footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
   }
   .foot_blocks{
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding-top: 56px;
   }
   .foot_contacts{
     position: relative;
     display: flex;
     flex-direction: column;
   }
   .foot_address{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 75px;
     margin-left: 70px;
   }
   .foot_socialmedia{
     position: relative;
     display: flex;
     align-items: flex-end;
     flex-direction: column;
   }
   .phone_numbers{
     letter-spacing: 1px;
    margin-top: 27px;
  }
   #foot_envelope{
    padding-right: 7px;
    margin-left: -50px;
    margin-top: 12px;
   }
   #foot_phone{
     position: absolute;
     padding-top: 14px;
     padding-right: 7px;
     margin-left: -50px;
   }
   #foot_content-address{
     margin-top: 14px;
   }
   #map_icon{
     position: absolute;
     left:-1.5em;
   }
  .sm_icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    margin-top: 14px;
  }
  .sm_icons img{
    margin-left: 6px;
  }
  @media screen and (max-width:1150px){
    footer {
      height: auto;
    }
    .foot_blocks{
      flex-direction: row;
      padding:46px 60px 0px 100px;
    }

  }
  @media screen and (max-width:1050px){
    footer {
      height: auto;
    }
    .foot_blocks{
      flex-direction: row;
      padding:46px 40px 0px 100px;
    }
    
    .sm_icons img{
      width: 80%;
    }
    footer{
      font-size: 1.3em;
    }
    .foot_address{
      margin-right: 0px;
      margin-left: 80px;
    }
    #foot_phone{
      width: 20%;
      padding-top: 7px;
      padding-right: 7px;
      margin-left: -50px;
    }
  }
  @media screen and (max-width:1050px){
    .foot_address{
      text-align: center;
      align-items: center;
      margin-right: 75px;
      margin-left: 70px;
    }
  }
  @media screen and (max-width:750px){
    footer {
      height: auto;
    }
    .foot_blocks{
      flex-direction: row;
      padding:46px 40px 0px 100px;
    }
    
    .sm_icons img{
      width: 80%;
      margin-top: 7px;
    }
    footer{
      font-size: 1.1em;
    }
    .foot_address{
      margin-right: 20px;
      margin-left: 60px;
    }
    #map_icon{
      position: absolute;
      width: 20%;
      left:-1.5em;
    }
  }
  @media screen and (max-width:635px){
    .foot_blocks{
      padding:80px 20px 0px 60px;
    }
    .sm_icons img{
      margin-left: 0px;
      width: 80%;
    }
    footer{
      font-size: 1em;
    }
    .foot_address{
      margin-right: 0px;
      margin-left: 60px;
    }
    #map_icon{
      width: 15%;
      left:-1.5em;
    }
    #foot_envelope{
      width: 20%;
      padding-right: 7px;
      margin-left: -50px;
      margin-top: 12px;
     }
     #foot_phone{
       width: 20%;
       padding-top: 14px;
       padding-right: 7px;
       padding-left: 0px;
     }
     .phone_numbers{
       width: 100%;
      letter-spacing: 0.5px;
     margin-top: 27px;
   }
  }
  @media screen and (max-width:565px){
    .foot_blocks{
      padding:80px 20px 0px 60px;
    }
    .sm_icons img{
      position: relative;
      right: -19%;
      width: 80%;
    }

  }
  @media screen and (max-width:515px){
    footer{
      font-size: 1.1em;
    }
    #map_icon{
      display: none;
    }
    #foot_envelope{
      display: none;
     }
     #foot_phone{
      display: none;
     }
    .foot_blocks{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:40px 10px 30px 10px;
    }
    .sm_icons{
      background-color: black;
      position: relative;
      width: 100%;
      justify-content: space-around;
    }
    .sm_icons img{
      position: relative;
      right: -19%;
      width: 80%;
    }
    .foot_contacts{
      background-color: white;
      color: black;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .text_contacts{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .phone_numbers{
      text-align: center;
      width: 100%;
      margin-top: 5px;
   }
   #foot-email{
     position: absolute;
     top: 25%;
   }
    .foot_address{
      width: 100%;
      background-color: white;
      color: black;
      align-items: center;
      margin: 0;
      margin-top: 5px;
    }
    #sm_firstline{
      display: none;
    }
    #sm_secondline{
      display: none;
    }
    #foot_content-address{
      margin-top: 0px;
    }
    .foot_socialmedia{
      width: 100%;
      flex-direction: row;
    }
  }